<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Add action</h3>
    </div>
  </div>
  <div class="card-block">
    <form>
      <div class="form-group">
        <label class="control-label" for="category">Choose category</label>
        <select class="form-control" id="category">
          <option>Option one</option>
          <option>Option two</option>
          <option>Option three</option>
          <option>Option four</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Choose type</label>
        <div>
          <label>
            <input class="radio" name="radios" type="radio" />
            <span>Income</span>
          </label>
        </div>
        <div>
          <label>
            <input class="radio" name="radios" type="radio" checked />
            <span>Сonsumption</span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="amount">Enter number</label>
        <input type="number" value="0" id="amount" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
