<p class="text-xs-center">Registration</p>
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control underlined" id="email" placeholder="Email" />
  </div>
  <div class="form-group has-error">
    <label for="password">Password</label>
    <input type="password" class="form-control underlined" id="password" placeholder="Password" />
    <span class="form-help-text">Error message.</span>
  </div>
  <div class="form-group has-success">
    <label for="name">Name</label>
    <input type="text" class="form-control underlined" id="name" placeholder="Name" />
    <span class="form-help-text">Success message.</span>
  </div>
  <div class="form-group">
    <label for="agree">
      <input class="checkbox" id="agree" type="checkbox" />
      <span>Agree with the rules</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Register</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Already a member?
      <a href="#">
        Login!
      </a>
    </p>
  </div>
</form>
