<div class="title-block">
  <h3 class="title">Страница записей <span class="sparkline bar"></span></h3>
</div>
<section class="section text-center" *ngIf="!isLoaded"><hb-loader></hb-loader></section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <hb-add-event [categories]="categories"></hb-add-event>
    </div>
    <div class="col-md-6">
      <hb-add-category (onCategoryAdd)="newCategoryAdded($event)"></hb-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <hb-edit-category [categories]="categories" (onCategoryEdit)="categoryWasEdited($event)"></hb-edit-category>
    </div>
  </div>
</section>
